.place__title {
  width: 90%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 80%;
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    justify-self: start;
    margin-left: 5%;
  }
}
