.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 16px;
  width: 90%;
  margin: 92px 0px 0px;
}

@media screen and (max-width: 320px) {
  .photo-grid {
  margin-right: 16px;
  }
}
