.place__image {
  margin: 0px;
  max-height: 460px;
  width: 70%;
  margin-top: 48px;
}

@media screen and (max-width: 788px) {
  .place__image{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 100%;
    margin-top: 100px;
  }
} 