.cover__subtitle {
  width: 28%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  z-index: 3;
  position: absolute;
  bottom: 33%;
  left: center;
}

@media screen and (max-width: 1350px) {
  .cover__subtitle {
    width: 32%;
    bottom: 32%;
  }
}

@media screen and (max-width: 1152px) {
  .cover__subtitle {
    width: 35%;
    bottom: 30%;
  }
}

@media screen and (max-width: 896px) {
  .cover__subtitle {
    width: 55%;
    bottom: 23%;
  }
}

@media screen and (max-width: 688px) {
  .cover__subtitle {
    font-size: 14px;
    width: 85%;
    margin-left: 16px;
    margin-right: 16px;
    bottom: 15%;
    text-align: center;
  }
}
