.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    font-style: normal;
    margin: 56px 280px 32px;
    color: #FFFFFF;
}