.place__paragraph {
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
  color: #ffffff;
  align-self: start;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 896px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraph {
    margin-left: 10%;
  }
}
