.footer__copyright {
  list-style: none;
  margin: 0px;
  margin-left: auto;
  width: 186px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: right;
  color: #ffffff;
  justify-self: start;
}

@media screen and (max-width: 688px) {
  .footer__copyright {
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
}
