.header__logo-link {
  width: 30px;
  height: 28px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  margin: 18px 18px 6px 0px;
}

.header__logo-link:hover {
    text-decoration: underline;
}

.header__logo-link:last-child {
    margin-right: 0px;
}