.cover__title {
  width: 50%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 2%;
  z-index: 3;
  position: absolute;
  top: 33%;
  left: center;
}

@media screen and (max-width: 1152px) {
  .cover__title {
    width: 55%;
    top: 30%;
  }
}

@media screen and (max-width: 896px) {
  .cover__title {
    width: 80%;
    top: 20%;
  }
}

@media screen and (max-width: 688px) {
  .cover__title {
    font-size: 32px;
    width: 80%;
    top: 10%;
    left: center;
  }
}
