.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 50%));
  align-items: center;
  justify-items: center;
  list-style: none;
  margin: 10% 0px 0px;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
  

