.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaaaaa;
  margin: 5% 0px 0px;
  padding: 0px;
  justify-self: start;
  list-style: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
}

@media screen and (max-width: 600px) {
  .place__url-heading {
    margin-left: 5%;
  }
}