.place__website {
  width: 100%;
  height: 46px;
  margin: 7% 0px 0px;
  margin-left: 5%;
  list-style: none;
  position: relative;
  align-self: flex-end;
}

@media screen and (min-width: 788px) {
  .place__website {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin-left: 10%;
  }
}