.intro__title {
  width: 690px;
  height: 58px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  align-items: flex-start;
  margin: 0px 0px 40px;
  color: #FFFFFF;
}
